@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --main-text: 'Yeseva One', cursive;
    --subtext-font: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /**background-color: #FAF0DC !important;**/
    /* background-image: url('../images/main-bg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh !important;
}

/** VIDEO BACKGROUND **/
#videoBg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/** AERIEL KRISHIA A. **/
h1.title {
    margin-top: 150px;
    font-family: var(--main-text);
    font-size: 80px;
}

/** FRONT-END DEVELOPER | GRAPHIC DESIGNER **/
.subtitle {
    font-family: var(--subtext-font);
}

/** NAV-BUTTONS **/

a.btn.nav-button {
    font-family: var(--subtext-font);
    width: 100px;
    padding: 10px;
    background: none;
    border-color: #1f1e1d;
    border-style: solid;
    transition: 0.3s;
    color: #1f1e1d;
    /* margin-bottom: 150px; */
}

a.nav-button:hover {
    background-color: #1f1e1d;
    color: #fff;
}

h2.title {
    font-family: var(--main-text);
    margin-top: 160px;
}

h3.description {
    font-family: var(--subtext-font);
}

h3 span.name {
    font-family: var(--main-text);
}

.card.desc-box {
    width: 100%;
}

.sub-description {
    font-family: var(--subtext-font);
}

.socmeds > a {
    color: rgb(79, 59, 37);
    transition: 0.3s;
}

a.resume {
    font-family: var(--subtext-font);
    width: 125px;
    padding: 10px;
    background: none;
    border-color: #1f1e1d;
    border-style: solid;
    transition: 0.3s;
    color: #1f1e1d;
}

a.resume:hover {
    background-color: #1f1e1d;
    color: #fff;
}

.contact-socmed {
    font-family: var(--subtext-font);
}

footer {
    background-color: #bba38a;
}

.footer-des {
    font-family: var(--subtext-font);
}

.hovereffect {
    position: relative !important;
    overflow: hidden !important;
}

.hovereffect .overlay {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(93, 68, 41, 0.539) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    opacity: 0 !important;
    transition: opacity 0.3s !important;
}

.hovereffect:hover .overlay {
    opacity: 1 !important;
}

.hovereffect .hover-text {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-align: center !important;
    padding: 10px !important;
}

.hover-text {
    font-family: var(--subtext-font);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/** NAME TAGS **/
.navbar-brand {
    font-family: var(--main-text);
}

a.nav-link {
    font-family: var(--subtext-font);
}

.breadcrumb {
    font-family: var(--subtext-font) !important;
}



/** media queries **/
@media screen and (max-width:420px) {
    a.btn {
        width: 80% !important;
        margin-bottom: 17px !important;
    }

    .card-img-top {
        width: 100% !important;
    }
}